.college-div {

    margin: 8rem 5rem;

  
    h2{
      font-size: 40px;
      color: white;
      text-align: center;
    }
  
    hr{
      border-top: 2px solid #ffffff;
      width: 75%;
      //align-items: center;
      margin: auto;
    }

    img{
        height: 50px;
        //position: absolute;
        margin: 40px;
        margin-right: 70px;
        //float: none;
    }

    .coll-entry{
        padding: 40px;
        display: flex;


        p{
            font-size: 13rem;
            padding: 70px 150px;
        }
    }

}

.media-changes{
    margin: 40px;
    //@function: inline;;
    margin-left: 35rem ;
}

.college-content{
    text-align: center;
    float: left;
}

