#site_title{

    color:#e3e7e7;
    display: inline;
    padding-right: 40px;
    font-size: 50px;
    font-weight: bold;
}

.navbar{
    
    background: rgb(143, 133, 136);

    text-align:center;
    box-shadow: 5px 10px 10px #331d1d8c;
}

.tabgroup{
    width: 300px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 500px;

} 

header{
    //text-align:center;
    width:600pt;
    //height: 40pt;
    margin: auto;
    text-align: center;
}