

.languages {

    margin: 8rem 5rem;
    text-align: center;
  
    h2{
      font-size: 40px;
      color: white;
    }
  
    hr{
      border-top: 2px solid #ffffff;
      width: 75%;
      align-items: center;
      margin: auto;
    }

}

.lang-logo{
    display: inline-block;
    max-width: 5em;
}

.logoList{
    display: flex;
    justify-content: space-between;
   // max-width: 90%;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.circle-container{
    list-style-type: none;
    //display: inline-block;
    overflow: hidden;
}

//   @mixin on-circle($item-count, $circle-size, $item-size) {  
//     position: relative;
//     width:  $circle-size*3;
//     height: $circle-size+10;
//     border-radius: 50%;
//     padding: 0; 
//     list-style: none;
    
//     > * {
//       display: block;
//       position: absolute;
//       top:  50%; 
//       left: 50%;
//       margin: -($item-size / 2);
//       width:  $item-size;
//       height: $item-size;
    
//       $angle: (360 / $item-count);
//       $rot: 0;
  
//       @for $i from 1 through $item-count {
//         &:nth-of-type(#{$i}) {
//           transform: rotate($rot * 1deg) translate($circle-size * $i) rotate($rot * -1deg);
//         }
  
//         $rot: $rot + $angle;
//       }
//     }
//   }

//   .circle-container {
//     @include on-circle($item-count: 10, $circle-size: 20em, $item-size: 5em); 
//     margin: 5em auto 0;
//     border: solid 5px tomato;
  
//     img { 
//       //display: block; 
//       max-width: 100%; 
      
//       //filter: grayscale(100%);
//       //border: solid 5px tomato;
//       //transition: .15s;
       
//     //   &:hover {
//     //     filter: grayscale(0);
//     //   }
//     }
//   }