.intro{
    font-size: 25px;
    color: #454c5a;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    -webkit-text-stroke: .4px rgb(0, 0, 0);
} 

.name-intro{
    font-size: 80px;
    -webkit-text-stroke: .5px rgb(0, 0, 0);
    padding-bottom: 70px;
}

.body{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width: 75%; 

}



  .circular--portrait {
    //position: relative;
    //width: 250px;
    //height: 250px;
    //overflow: hidden;
    //border-radius: 50%;
    //text-align:none;
    //position:absolute;
    //margin: 20px 80px;
    //margin-top: -50px;
    
    display: inline-block;
    //box-shadow: 5px 10px 10px #000000a9;
  }

  .circular--portrait img {
    width: 14rem;
    height: auto;
    box-shadow: 5px 10px 10px #000000a9;
  }
